﻿@model List<BittrexMarkets.DataModels.BittrexMarketData>

@{
    ViewData["Title"] = "Home Page";
}

<div style="overflow: auto; height: 90vh; width: 45vw; margin-left: 3vw; display:inline-block">
    <table id="availableMarkets" class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th colspan="4">Available markets</th>
            </tr>
            <tr>
                <th>Market Name</th>
                <th>Base Currency</th>
                <th>Market Currency</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MarketName)</td>
                    <td>@Html.DisplayFor(modelItem => item.BaseCurrencyName)</td>
                    <td>@Html.DisplayFor(modelItem => item.MarketCurrencyName)</td>
                    <td>
                        <button onclick="subscribeMarketUpdates('@Html.DisplayFor(modelItem => item.MarketName)')">Track values</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="overflow: auto; height: 90vh; width: 45vw; margin-left: 3vw; display:inline-block">
    <table id="subscribedMarkets" class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th colspan="5">Tracked markets</th>
            </tr>
            <tr>
                <th>Market Name</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Last</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script src="~/lib/signalr/signalr.js"></script>

<script>
    function updateMarketValues(marketValues) {
        var table = document.getElementById("subscribedMarkets");

        var marketRow = undefined;

        for (var i = 0, row; row = table.rows[i]; i++) {
            if (row.cells[0].innerHTML == marketValues.MarketName) {
                marketRow = row;
                break;
            }
        }

        if (marketRow == undefined) {
            marketRow = table.insertRow(table.rows.length);

            marketRow.insertCell(0);
            marketRow.insertCell(0);
            marketRow.insertCell(0);
            marketRow.insertCell(0);
            marketRow.insertCell(0);

            marketRow.cells[0].innerHTML = marketValues.MarketName;
            marketRow.cells[4].innerHTML = "<button onclick=\"unsubscribeMarketUpdates(\'" + marketValues.MarketName + "\')\">Stop tracking</button>";
        }

        marketRow.cells[1].innerHTML = marketValues.Bid;
        marketRow.cells[2].innerHTML = marketValues.Ask;
        marketRow.cells[3].innerHTML = marketValues.Last;
    }

    function removeTrackedMarket(marketName) {
        var table = document.getElementById("subscribedMarkets");

        var marketRowIndex = undefined;

        for (var i = 0, row; row = table.rows[i]; i++) {
            if (row.cells[0].innerHTML == marketName) {
                marketRowIndex = i;
                break;
            }
        }

        if (marketRowIndex != undefined) {
            table.deleteRow(marketRowIndex);
        }
    }

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/Hubs/MarketsSubscription")
        .configureLogging(signalR.LogLevel.Information)
        .build();
    connection.start().catch(err => console.error(err.toString()));

    connection.on("MarketDataUpdated", (marketValuesJson) => {
        var marketValues = JSON.parse(marketValuesJson);
        updateMarketValues(marketValues);  
    });

    connection.on("SubscriptionFailed", (message) => {
        alert(message);
    });

    connection.on("UnsubscriptionSuccessful", (marketName) => {
        removeTrackedMarket(marketName);
    });

    function subscribeMarketUpdates(marketName) {
        connection.invoke("AddMarketSubsription", marketName).catch(err => console.error(err.toString()));
    }

    function unsubscribeMarketUpdates(marketName) {
        connection.invoke("RemoveMarketSubsription", marketName).catch(err => console.error(err.toString()));
    }

</script>

